# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Copyright 2024 The SPDX Contributors

name: validate PR

on:
  pull_request

jobs:
  doit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
            python-version: "3.12"
      - name: get spec-parser
        run: |
          git clone --depth=1 --single-branch --branch=main https://github.com/spdx/spec-parser/ ${{ runner.temp }}/spec-parser
          python ${{ runner.temp }}/spec-parser/main.py -h
      - name: run spec-parser to validate
        run: |
          python ${{ runner.temp }}/spec-parser/main.py -n model
